<section class="activitiesList">
    <h1 class="headerList">Waar heb je zin in?</h1>
    <section class="typeOfDay">
    <input type="radio" id="morning" name="timeOfDay" value="morning">
    <label for="morning">&#127749;</label>

    <input type="radio" id="midday" name="timeOfDay" value="midday">
    <label for="midday">&#128262;</label>

    <input type="radio" id="evening" name="timeOfDay" value="evening">
    <label for="evening">&#127769;</label>
    </section>

    <form class="activitiesListBtns" action="/post-name" method="POST">
        {{!-- <button class="acitvitySetupBtn">&#128262; Knutselen</button>
        <button class="acitvitySetupBtn">&#128262; Knutselen</button>
        <button class="acitvitySetupBtn">{{activity}}</button> --}}
        {{#each activity}}
        <button class="acitvitySetupBtn" name="activity" value="{{this}}">{{this}}</button>
        {{/each}}

    </form>
</section>

{{!-- <form action="/post-name" method="POST">
    <button type="submit" name="name" value="John">Submit</button>
</form> --}}


<section>
    <form class="doneFooter" action="http://localhost:3000/">
        <button class="doneBtn" type="submit">Done</button>
    </form>
</section>


{{!-- <script>
    const activityListBtns = document.querySelector(".activitiesListBtns");


    function createBtnList() {
        const activityBtn = document.createElement('button');
        activityBtn.className = 'acitvitySetupBtn';
        activityBtn.type = 'submit';
        activityBtn.name = 'name';
        activityBtn.value = '{{activity}}';
        activityBtn.textContent = '{{activity}}';
        activityListBtns.appendChild(activityBtn);
    }

    for (i = 0; i < {{ namesLength }}; i++) {
        createBtnList();
    }
</script> --}}